body
{
	background-image: url("../images/37 - bdjoieg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

p,div
{
	color: #FEFFF1;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; 
}

h1,h2,h3,h4,h5,h6
{
	color: #B0E2FF;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.mainTitle
{
	color: #FFFFCC;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.panel
{
	background-color: rgba(0, 0, 0, 0.4);
}

a:link
{
	color:#B0E2FF;
}

a:visited
{
	color: #FFB0E2;
}

a:hover
{
	color: #E2FFB0;
}

.horizLine
{
	border-color: rgba(255,255,255,0.4);
	border-width: 5px;
	border-radius: 10px;
}

#myPicture
{
	position: relative;
	top: 50px;
}

.list-group-item
{
	background-color: rgba(0, 0, 0, 0.4);
}

.vertLine
{
	border-right-color: rgba(255,255,255,0.4);
	border-right-width: 5px;
	border-right-style: dotted;
	border-spacing: 5px;
	
}

.row 
{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}